body {
    /* margin: 0;
    padding: 0; */
}

table {
    min-width: max-content;
}

.main-table {
    border: 1px solid black;
    border-collapse: collapse;

}

tr, th, td {
    border: 1px solid black;
}

th {
    /* border: 2px solid black; */
    position: sticky;
    background-color: teal;
    top: -1px;
    margin: 0;
    padding: 0;
    height: 30px;
}

td {
    padding: 0 20px;
}

/* .last-colmn {
    border-right: 2px solid black;
}

.first-colmn {
    border-left: 2px solid black;
    text-align: left !important;
} */

/* .colmn1 {
    border: 2px solid black;
} */