body {
    margin: 0;
    padding: 0;
}

.main-container {

    /* width: 100vw !important; */
    height: 100vh;
    overflow-x: auto;
}

table {
    min-width: max-content;

    min-height: 99vh;
}

.main-table {
    border: 1px solid black;
    border-collapse: collapse;

}

tr, th, td {
    border: 1px solid black;
}

th {
    /* border: 2px solid black; */
    position: sticky;
    background-color: #8bdddd;
    top: -1px;
    margin: 0;
    padding: 0;
    height: 30px;
}

td {
    padding: 0 20px;
}

.colmn1 {
    position: sticky;
    left: 0;
    background-color: #8bdddd;
}

/* .last-colmn {
    border-right: 2px solid black;
}

.first-colmn {
    border-left: 2px solid black;
    text-align: left !important;
} */


@media (max-width:768px) {
    .main-container {
        margin-left: 5px;
    }

    th {
        font-size: 13px;
    }

    td {
        font-size: 11px;
    }

    td {
        padding: 0 5px;
    }

    table {
        min-height: 100vh;
    }
}