body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {

    /* width: 100vw !important; */
    height: 100vh;
    overflow-x: auto;
}

table {
    min-width: max-content;
    border-collapse: collapse;
    min-height: 99vh;
}

.main-table {
    border: 1px solid black;


}

tr, th, td {
    border: 1px solid black;

}

th {

    position: sticky;

    background-color: #93ffff;

    margin: 0;
    top: 0;
    padding: 0;
    height: 30px;
}

.table-heading th::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
}

.table-heading th::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 100%;
    background-color: black;
}

td {
    padding: 2px 20px;
}

.colmn1 {
    position: sticky;
    /* padding: 2px 20px; */
    top: 0;
    left: -1px;
    background-color: #93ffff;
    /* color: white; */
}


/* tr .colmn1::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: black;
}

tr .colmn1::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: black;
} */

.heading {
    background-color: #93ffff;

}

/* .last-colmn {
    border-right: 2px solid black;
}

.first-colmn {
    border-left: 2px solid black;
    text-align: left !important;
} */


@media (max-width:768px) {


    th {
        font-size: 13px;
    }

    td {
        font-size: 11px;
    }

    td {
        padding: 0 5px;
    }

    table {
        min-height: 100vh;
    }
}