body {
    margin: 0;
    overflow-y: hidden;
    padding: 0;
    background-color: #323c50;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    /* margin: 5px; */

    /* width: 100vw !important; */
    height: 100vh;
    overflow-x: auto;
}

table {
    background-color: #1f2739;
    min-width: max-content;
    border-collapse: collapse;
    /* border-spacing: 0; */
    /* min-height: 99vh; */
}

.main-table {
    border: 1px solid #17191f;


}

td {
    border: 1px solid #17191f;

}

th {
    border: 1px solid #17191f;

}

.sticky-table {
    position: sticky;
    color: #1b9ae4;
    background-color: #1f2739;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 0;
    height: 30px;
}

/* .table-heading th::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
} */

.table-heading th::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 100%;
    background-color: #17191f;
}

td {
    padding: 8px 20px;
    color: #c7c7c7
}

.colmn1 {
    position: sticky;
    /* padding: 2px 20px; */
    top: 0;
    left: -1px;
    background-color: #1f2739;
    color: #d35c6f;
    /* background-color: #93ffff; */
    /* color: white; */
}


/* tr .colmn1::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: black;
}

tr .colmn1::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: black;
} */

.heading {
    background-color: #464a52;
    color: #c7c7c7;


}

/* .last-colmn {
    border-right: 2px solid black;
}

.first-colmn {
    border-left: 2px solid black;
    text-align: left !important;
} */


@media (max-width:768px) {


    /* th {
        font-size: 13px;
    } */

    td {
        font-size: 11px;
    }

    td {
        padding: 0 5px;
    }

    table {
        min-height: 120vh;
    }
}